
@import url('https://fonts.googleapis.com/css?family=Vazirmatn');
@import url('https://fonts.googleapis.com/css?family=Zilla Slab');

:root {
    --color1: #3A81FF;
    --color2: #B1E629;
    --grey: #D9D9D9;
    --card-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
}

* { 
    box-sizing: border-box;
}

body {
    margin:0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zilla Slab';
}

img {
    max-width: 100%;
    object-fit: cover;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: black;
    height: 10vh;
}

header nav {
    display: flex;
    width: 50%;
    height: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

}

header nav a {
    display: flex;
    height: 80%;
    margin-left: 5%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li a{
    display: block;
    padding: 1.5em;
    font-family: 'Zilla Slab';
    font-size: 2rem;
    color: #3A81FF;
    text-decoration: none;
}

p, li {
    font-family: 'Vazirmatn';
    font-size: 1.2rem;
}

.active {
    color: var(--color2);
}


.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.thirds article {
    width: 30%;
}

.cards article {
    box-shadow: var(--card-shadow);
    align-items: center;
}

.cards article img {
    height: 50%;
    width: 100%;
}

.cards article p,
.cards article h2 {
    padding: 0 1rem;
    text-align: center;
}

.cards article a.button {
    background-color: var(--color1);
    padding: .5em 1em;
    border-style: none;
    border-radius: 1em;
    font-family: "Vazirmatn";
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#hero {
    display: flex;
    background-image: url('images/smart-house-hd.jfif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#hero-content {
    color: white;
    font-family: '';
    font-size: 4rem;
    text-align: center;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

main section {
    margin-top: 2rem;
}

#specs {
    display: flex;
    width: 85%;
    border-radius: 25px;
    background-color: var(--grey);
}

#specs img {
    width: 50%;
    border-radius: 25px;
}

#specs div {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 5%;
    width: 40%;
    justify-content: center;
    text-align: center;
}

#specs h2, #specs p {
    margin-bottom: 0;
}

#specs ul {
    list-style: none;
    padding: 0;
    margin-top: 0
}

#brain-banner {
    display: flex;
    background-color: var(--color1);
    flex-wrap: nowrap row;
    align-items: center;
    width: 100%
}

#info-cards article {
    background-color: black;
    color: white;
    font-family: ''
}

