
@import url('https://fonts.googleapis.com/css?family=Vazirmatn');
@import url('https://fonts.googleapis.com/css?family=Zilla Slab');

:root {
    --color1: #3a82ff;
    --color1-light: #3a82ff50;
    --color2: #b0e629;
    --color2-light: #b0e62950;
    --grey: #d9d9d9;
    --card-shadow: .5px 2px 5px rgba(0, 0, 0, .5);
}

* { 
    box-sizing: border-box;
}

body {
    margin:0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zilla Slab';
}

h2 {
    font-size: 2em;
}

img {
    max-width: 100%;
    object-fit:cover;
}

.color1 {
    background-color: var(--color1);
}

.color1-light {
    background-color: var(--color1-light);
}

.color2 {
    background-color: var(--color2);
}

.color2-light {
    background-color: var(--color2-light);
}

.grey {
    background-color: var(--grey);
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: black;
}

header nav {
    display: flex;
    width: 50%;
    height: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

header > nav > a {
    display: flex;
    height: 80%;
    margin-left: 5%;
    width: 100px;
}

.home-logo {
    background-image: url("images/house-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -100vw;
    width: 50px;
    margin-right: 0.6rem;
}

header > nav > a > img {
    height: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li a{
    display: block;
    padding: 1rem;
    font-family: 'Zilla Slab';
    font-size: 2rem;
    color: #3A81FF;
    text-decoration: none;
}

p, li {
    font-family: 'Vazirmatn';
    font-size: 1.5rem;
}

.shadow {
    box-shadow: var(--card-shadow);
}

.active {
    color: var(--color2);
}


.column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.full {
    width: 100%;
}

.thirds article {
    width: 30%;
}

.halves article {
    width: 45%;
}

.cards article {
    box-shadow: var(--card-shadow);
    align-items: center;
}

.card {
    box-shadow: var(--card-shadow);
    border-radius: 20px;
    width: 80%;
}

.box {
    background-color: var(--color1-light);
    border: solid black 1px;
    box-shadow: var(--card-shadow);
    width: 80%;
    padding: 1em;
    align-items: flex-start;
}

.box h2 {
    align-self: center;
}


.card.row img {
 width: 50%;
 border-radius: 20px;
}

.card.row section {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 90%;
}

.cards article {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 1em;
    height: 70vh;
}

.cards article img {
    height: 50%;
    width: 100%;
    border-radius: 20px;
}

.cards article p,
.cards article h2 {
    padding: 0 1rem;
    text-align: center;
}

.cards article h2 {
    margin-bottom: 0;
}

.cards article div {
    align-items: center;
    justify-content:space-around;
    height: 50%;
}

.cards article a.button {
    background-color: var(--color1);
    padding: .5em 1em;
    border-radius: 1em;
    font-family: "Vazirmatn";
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 90%;
    text-align: center;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.hero-header {
    color: white;
    font-family: 'Vazirmatn';
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}

.hero-content {
    color: white;
    font-family: 'Vazirmatn';
    font-size: 2rem;
    text-align: center;
    width: 20em;
    margin-top: 0;
}

#main-hero {
    background-image: url('images/smart-house-hd.jfif');
    height: 80vh;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

main > section, main > div {
    margin-top: 5rem;
}

footer {
    background-color: #D9D9D9;
    margin-top: 5em;
}

footer #bottom a {
    text-decoration: none;
}

#specs {
    width: 85%;
    background-color: var(--grey);
}

#specs ul {
    list-style: none;
    padding: 0;
}

#specs p {
    margin-bottom: 0;
}

#brain-banner {
    background-color: var(--color1);
    align-items: center;
}

#info-cards article {
    background-color: black;
    color: white;
    font-family: '';
}

#conveniences .card.row,
#security .card.row
{
    box-shadow: none;
}

#conveniences .card.row img {
    box-shadow: var(--card-shadow);
    height: 30em;
}

#security .card.row img {
    box-shadow: var(--card-shadow);
}

#fireplace {
    background-image: url("images/fireplace.jpg");
    width: 100%;
    color: white;
    justify-content: center;
    padding: 5em;
}

#fireplace section {
    background-color: #00000074;
    border-radius: 20px;
    width: 50%;
    text-align: center;
}

#security .cards article {
    height: calc(100em - 40vw);
}


